# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite3

# Entornos virtuales
venv/
env/
ENV/
.venv/

# Archivos de configuración de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de logs
*.log

# Archivos de compilación
build/
dist/
*.egg-info/

# Archivos de sistema
.DS_Store
Thumbs.db

# Ignorar resultados de scraping
scraping_results/

